{{#if success_msg}}
<div class="alert alert-success col-10 col-sm-8 col-md-8 col-lg-5 d-flex align-items-center mx-auto mt-3" role="alert" style="position: relative;">
    <i class="bi bi-check-circle-fill me-2"></i>
    <div>
        {{success_msg}}
    </div>
</div>
{{/if}}

<div id="" class="container-fluid d-flex justify-content-center my-5">
    <div id="cad" class="card col-10 col-sm-8 col-md-8 col-lg-5 border p-4 position-relative" data-bs-theme="dark" >
        <!-- Botão fechar alinhado à direita -->
        <a href="/">
            <button type="button" class="btn-close position-absolute" style="top: 10px; right: 17px;" aria-label="Close"></button>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#alertModal" title="Alertar erro sobre localidade">
            <img src="images/alert.jpg" class="position-absolute" width="40px" height="40px" style="top: 40px; right: 10px;">
        </a>

        <!-- Modal do Bootstrap -->
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Reportar Erro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{#if isAuthenticated}}
                        <form id="reportForm" action="/addrepo" method="post">
                            <div class="mb-3">
                                <label for="errorMessage" class="form-label">Descreva o erro:</label>
                                <textarea class="form-control" name="aviso" id="errorMessage" rows="3" required></textarea>
                                <input type="hidden" name="idHosp" value="{{idHosp}}">
                                <input type="hidden" name="name" value="{{name}}">
                            </div>
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </form>
                        {{else}}
                        <h4>você precisa estar logado para reportar um erro deste local!</h4>
                        <p><a href="/login">faça login</a>, ou caso ainda não tenha uma conta, <a href="/cadastro">cadastre-se aqui</a> </p>
                        {{/if}}  
                    </div>
                </div>
            </div>
        </div>


        <!-- Título centralizado -->
        <div class="container-fluid">
            <h1 class="text-center">{{name}}</h1>
            <p class="text-center"><strong>Localização:</strong> {{vicinity}}</p>
        </div>

        <h4>Últimos alertas:</h4>
        <!-- Loop através dos avisos -->
        {{#each hospitals}}
        <div class="card w-100 mb-3">
            <div class="card-body">
                <h5 class="card-title">{{avisos}}</h5>
                <p class="card-text"> criado em: {{createdAtFormatted}}, Usuário: {{nickUser}}</p>
                {{#if (eq ../user.id iduser)}}
                    <a href="/delete/{{id}}" class="btn btn-danger btn-sm">Excluir aviso</a>
                {{/if}}
            </div>
        </div>
        {{/each}}

        <!-- Formulário para criar um novo alerta -->
        
        <p><strong>Criar alerta?</strong></p>
        <form action="/addInf" method="post">
            {{#if isAuthenticated}}
            <input type="text" name="aviso" class="form-control mb-3" placeholder="Digite um novo alerta" required>
            <button class="btn btn-primary btn-sm">Enviar</button>
            {{else}}
            <label>você precisa estar logado para criar avisos</label>
            <p><a href="/login">faça login</a>, ou caso ainda não tenha uma conta, <a href="/cadastro">cadastre-se aqui</a> </p>
            {{/if}}    
            <!-- Inputs hidden -->
            <input type="hidden" name="name" value="{{name}}">
            <input type="hidden" name="idHosp" value="{{idHosp}}">
            <input type="hidden" name="vicinity" value="{{vicinity}}">
        </form>
    </div>
</div>
